.Header {
    background-color: #282c34;
    min-height: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 3%;
    font-size: 24px;
}

.signout-button {
    text-align: right;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin-top: 4px;
    margin-right: 2%;
}
