.Home {
    text-align: center;
}

.title {
    color: #333;
    margin-bottom: 2%;
    font-size: 20px;
}

.subtitle {
    margin-bottom: 2%;
    font-weight: 600;
}

.button-entry {
    font-size: 22px;
    border: 1px solid;
    margin: 5px 10%;
}

.button-list {
    font-family: 'Segoe UI', Arial, sans-serif;
    outline: none;
}

.button-title {
    font-size: 22px;
    border: none;
    padding-left: 20px;
    text-align: left;
    color: black;
}

.list-entry {
    background-color: #D0DEE7;
}

.list-entry:hover {
    background-color: #99CBED;
}

.list-entry-title {
    width: 80%;
}

.add-button {
    background-color: #CDECC2;
}

.add-button:hover {
    background-color: #84F55C;
}

.input-order {
    text-align: center;
    border: none;
    background-color: #CDECC2;
    font-size: 20px;
    outline: none;
}

.input-order:hover {
    background-color: #84F55C;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.edit-button {
    float: right;
    padding-top: 5px;
    padding-right: 7px;
    outline: none;
}

.edit-button-title {
    width: 71%;
}

.tick {
    width: 5%;
}

.cross {
    width: 4%;
}

.edit {
    width: 4%;
}

.delete {
    width: 4%;
}

.span-filler {
    padding-right: 8%;
}
